page-login {
  h2 {
    text-align: center;
    margin: 10px;
  }
  form {
    margin-bottom: 20px;
    button {
      margin-top: 20px !important;
    }
    p {
      font-style: italic;
      color: red;
    }
  }


  .invalid {
    border-bottom: 1px solid #FF6153;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
  }

  .logo {
    height: 25%;
    width: 100%;
    margin-bottom: 50px;

    .logo-icon {
      text-align: center;
      font-size: 40px;
      padding-top: 5%;
      color: currentColor;
      h2 {
        margin: inherit;
        color: #212121;//ou #2c2c2c
        // color: #DB7093;
      }
    }

  }




}
