<ion-header>
  <ion-navbar>
    <ion-buttons >
      <button ion-button>
      <ion-item>
        <ion-avatar item-left>
          <img src={{this.perfilService.imgPerfil}} />
        </ion-avatar>
        <h2>{{this.perfilService.nome}}</h2>
        <p>{{this.perfilService.userName}} </p>
      </ion-item>
    </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"  ></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="page">
  <ion-grid>
    <ion-row align-items-center>
      <div *ngFor="let look of looks  | async">
          <ion-col col-6  *ngIf="look.user == this.user">
            <ion-card>
              <img src={{look.url}}/>
            </ion-card>
          </ion-col>
      </div>
    </ion-row>
  </ion-grid>


  <ion-fab right bottom>
     <button ion-fab mini color="light" (click)="addLook()"><ion-icon name="add" ></ion-icon></button>
   </ion-fab>

</ion-content>
