page-closet {
  .page{
     background-image: url('../../assets/image/bools.jpg');
     background-repeat: no-repeat;
     background-size: cover;
}

.list{
  background-color: transparent;
  font-style: oblique;
  font-size: large;
  font-family: cursive;
  // text-align: center;
}
}
