<ion-header>
  <ion-navbar>

    <ion-buttons >
      <button ion-button>
      <ion-item>
        <ion-avatar item-left>
          <img src={{this.perfilService.imgPerfil}} />
        </ion-avatar>
        <h2>{{this.perfilService.nome}}</h2>
        <p>{{this.perfilService.userName}} </p>
      </ion-item>
    </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"  ></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="page">
  <!-- <ion-card *ngIf="this.numCtg">
    <ion-card-header>
      Ainda não existem categorias no seu closet
  </ion-card-header>
    <ion-card-content>
      Para adicionar suas categorias basta clicar no botão flutuante.
    </ion-card-content>
  </ion-card> -->

  <ion-list>

      <ion-card *ngFor="let categoria of categorias | async" (click)="goCategoria(categoria.$key, categoria.titulo)" >
     <img src="assets/image/gaveta.png"/>
     <div class="card-title">{{categoria.titulo}}</div>
   </ion-card>

  </ion-list>

  <ion-fab right bottom>
     <button ion-fab mini color="light" (click)="addCategoria()"><ion-icon name="add" ></ion-icon></button>
   </ion-fab>

</ion-content>
