page-register {
  .logo {
    height: 25%;
    width: 100%;
    margin-bottom: 50px;

    .logo-icon {
      text-align: center;
      font-size: 40px;
      padding-top: 5%;
      color: currentColor;
      h2 {
        margin: inherit;
        color: #212121;//ou #2c2c2c
        // color: #DB7093;
      }
    }
  }


}
