<ion-header>
  <ion-navbar>
    <ion-title>register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="page">
  <div class="logo">
  <div class="logo-icon">
    <img height="100" src="https://firebasestorage.googleapis.com/v0/b/mycloset-45165.appspot.com/o/appDefault%2Fgp.gif?alt=media&token=26baafa7-e550-4fd0-96a8-c7bf07f9fa77">
    <h2>My Closet</h2>
  </div>
</div>
  <form [formGroup]="registerForm" (submit)="doRegister()" novalidate>
    <ion-item>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
        placeholder="E-mail"
        [class.invalid]="!registerForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!registerForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Por favor insira um e-mail valido.</p>
    </ion-item>
    <ion-item>
      <ion-input #password formControlName="password" type="password" (change)="elementChanged(password)"
        placeholder="Password"
        [class.invalid]="!registerForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!registerForm.controls.password.valid  && (passwordChanged || submitAttempt)">
      <p>Deve conter pelo menos 6 characters.</p>
    </ion-item>
    <ion-item>
      <ion-input #fullname formControlName="fullname" type="text" (change)="elementChanged(fullname)"
        placeholder="User name"
        [class.invalid]="!registerForm.controls.fullname.valid && (fullnameChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!registerForm.controls.fullname.valid  && (fullnameChanged || submitAttempt)">
      <p>Insira um nome.</p>
    </ion-item>
    <button ion-button block color="light" type="submit">
      Register
    </button>
  </form>
</ion-content>
