page-home {
  .item{
    background-color: transparent;
  }

  .perfil{
    ion-item {
      height: 50px;
    }
    height: 100%;
    width: 90%;

    
  }


// button{
//   img{
//       border-radius: 50%;
//       height: 100%;
//       width: 20%;
//   }
// }
  .logo {
   height: 30%;
   width: 100%;
   .logo-icon {
     text-align: center;
     font-size: 40px;
     padding-top: 10%;
     color: currentColor;
   }
  }
}
